@charset "utf-8";
/* CSS Document */

/*通用*/
.footer { width:100%; margin:0 auto; clear:both;}

.footer .social { width:100%; height:auto; background:url(../images/bg_social.png) no-repeat; background-position:top center; }
.footer .social .media { width:1000px; margin:0 auto; padding:50px 0;}

.footer .social .data { width:50%; float:left;}
.footer .social .data .topic { width:90%;} 
.footer .social .block { width:93%; height:288px; border:#cf7676 1px dotted; padding:10px; }

.footer .info { width:100%; height:auto; background:url(../images/bg_bottom.png) no-repeat; background-position:top center; background-size:cover; clear:both;}
.footer .info ul { width:800px; margin:0 auto; padding: 20px 0;}
.footer .info li { display:inline-block; height:31px; margin:0 10px;}
.footer .contact { display:block; width:300px; margin:30px auto;}
.footer .copyright { color:#FFF; font-family: 'centaur'; font-size:13px; line-height:18px; width:360px; margin:0 auto; padding:20px; text-align:center;  }

@media screen and (max-width:960px) {
	.footer .social { background:rgba(207,118,118,0.3);}
	.footer .social .media { width:90%; margin:0 auto; padding:50px 0;}


	.footer .social .data { width:100%; margin-bottom:20px;}
	
	.footer .info ul { width:50%;}
	.footer .info li { display: block; height:auto; margin:20px 10px;}
	.footer .contact { display:block; width:80%; margin:30px auto;}
	.footer .copyright { color:#FFF; font-family: 'centaur'; font-size:13px; line-height:18px; width:70%; margin:0 auto; padding:20px; text-align:center;  }
	}

